// bir bütün değil, bir bölümün bir parçası olduğu için dosya adı _ ile başlıyor.

$max-width: 1200px;
$primary-color: #EF6D6D;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/bg.jpeg') //burada linki css dosyasının konumunu düşünerek yaz